.hasil {
	background: #fff;
	padding: 10px 20px;
	border-radius: 34px;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15);
	overflow: hidden;
}
.product-item {
  background-color: white;
  padding: 10px;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  overflow: hidden;
}
.product-item img {
  width: 100%;
}
.product-item .product-title {
  text-align: center
  margin: 15px 0;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
}
.col-sm-6{
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	float:left;
	width: 50%;
}